html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #273c56;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.stats-card {
  width: 70%;
  background-color: #152336;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-flow: row wrap;
  padding: 60px 100px;
}

.heading {
  /* padding: 20px; */
  text-align: center;
  font-size: xx-large;
  flex: 1 0 100%;
  font-weight: bold;
}

.card {
  padding: 20px 0;

  flex: 1 0 26%;
  text-align: center;
  margin: 0 2%;
}

.card .big-number {
  font-weight: 200;
  font-size: xxx-large;
  font-weight: bold;
  margin: 10px 10px 30px;
}
.card .caption {
  color: #cbced2;
  font: large;
}

.bottom-test {
  flex: 1 0 100%;
  text-align: center;
  color: #cbced2;
  margin-bottom: 0;
  padding: 20px;
}
.bottom-test a {
  text-decoration: none;
  color: #3c5dd9;
}
